/*****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-blue: #173f5f;
  --light-blue: #79afdb;
  --lightest-blue: #e2e2e2;
  --bright-red: #ef1d1d;
  --mint-green: #4daaa7;
  --off-white: #e6f1ff;
  --text-color: #666666;
}

* {
  margin: 0;
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* until you get a feel for overflow, I'll keep these next two commented out */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* p {
  overflow-wrap: break-word;
  hyphens: auto;
} */

/* temp CSS for HTML only assignments */
picture img {
  width: 100%;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

/************ add your CSS here *****************/

body {
  font-family: Poppins;
  color: var(--text-color);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1 {
  font-family: Oswald;
  font-weight: bold;
  color: var(--dark-blue);
  font-size: 3rem;
}

h2 {
  font-family: Oswald;
  color: var(--light-blue);
  font-size: 2.5rem;
}

h3 {
  font-family: Oswald;
  color: var(--mint-green);
  font-size: 2rem;
}

h4 {
  font-family: Oswald;
  color: var(--lightest-blue);
  font-size: 1.5rem;
}

a {
  color: var(--bright-red);
  text-decoration: none;
}

a[href]:hover {
  color: blue;
}

a:visited {
  color: purple;
}

a.button {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border-radius: 15%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: white;
  transition: background-color 300ms ease;
}

a.button:hover {
  background-color: #999;
  color: #333;
}

main {
  align-self: center;
  padding: 0.25rem, 1rem;
  max-width: 50rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-align: center;
}

p {
  margin-bottom: 1rem;
}

article,
aside {
  margin-bottom: 5rem;
}

footer {
  background-color: var(--lightest-blue);
  color: var(--dark-blue);
  padding: 2rem;
}

.hero {
  position: relative;
}

.hero h1 {
  color: #ddd;
  /*font-size: clamp(4rem, 15vw + 1rem, 6rem);*/
  font-size: 10vw;
  padding-top: -1.5rem;
}

.hero p {
  color: rgb(221, 221, 221);
  font-size: 2.5vw;
}

.hero video {
  width: 100%;
}

.hero h1,
.hero p {
  text-align: center;
  text-shadow: 4px 4px 4px #000;
}
.hero .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(169, 247, 169, 0.185),
    rgba(111, 130, 248, 0.3)
  );
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: box-shadow 300ms ease;
}

.card:hover {
  background: linear-gradient(var(--light-blue), white);
  transform: scale(1.2);
  transition: transform 200ms ease-in;
}

.card {
  padding: 1rem;
  flex: 1 1 0;
}

.pic {
  align-items: flex-end;
}

video {
  object-fit: cover;
}

nav {
  visibility: hidden;
}
.close nav {
  position: fixed;
  inset: 0 40vw 0 0;
  background-color: #1c254a;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.close nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 80rem;
}

.close nav a {
  display: block;
  color: white;
  padding: 1rem;
  font-size: 1.4rem;
}

nav a:not([href]) {
  color: var(--roman-silver);
}

nav a[href]:hover {
  color: var(--space-cadet-light);
  background-color: var(--light-blue);
}

.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 1.5rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--dark-blue);
  z-index: 2;
}

.menu-icon line {
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: round;
  transform-origin: center;
  transition: transform 300ms ease;
}

.menu-icon line:first-child {
  transform: translateY(16%);
}

.menu-icon line:last-child {
  transform: translateY(-16%);
}

/* JavaScript toggles a "close" class on the <nav> when the menu-icon is clicked */

.close line:first-child {
  transform: rotate(135deg);
}

.close line:last-child {
  transform: rotate(-135deg);
}

.panel {
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .panel {
    flex-direction: row;
    gap: 1rem;
  }

  .panel h2 {
    margin: 0;
  }

  .panel .text-wrapper {
    flex: 1 1 40%;
  }

  .panel image-wrapper {
    order: 0;
    flex: 1 1 60%;
  }

  .panel .left {
    order: -1;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex: 1 1 40%;
  }
}

@media (min-width: 601px) {
  .menu-icon {
    display: none;
  }
  nav {
    margin: 2rem 1.5rem 6rem;
    visibility: visible;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: 80rem;
  }

  nav a {
    display: block;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vw;
    font-size: 1.4rem;
    margin-left: 6vw;
    margin-right: 6vw;
    outline: solid rgb(117, 115, 115);
  }

  nav a::after {
    content: "";
    display: block;
    width: calc(100% + 12px);
    height: 3px;
    margin-left: -6px;
    margin-top: 6px;
    background-color: var(--space-cadet-light);
    transform: scale(0);
    transition: transform 200ms ease-in, color 300ms ease-in;
    transform-origin: right;
  }

  nav a[href]:hover::after {
    transform: scale(1);
    transform-origin: left;
  }
}

@media (min-width: 1000px) {
  .cards {
    flex-wrap: nowrap;
  }
}
